.page-container {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin: 30px;
}

.page-container .page {
    height: auto;
    font-size: 14px;

}

button.btn-active {
    background-color: #222;
    color: yellow;
}