.review-container {
    position: relative;
    display: flex;
    margin-bottom: 50px;
    /* border: 1px solid #000; */
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 4px 16px rgba(96, 97, 115, 0.6);
}

.review {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 1em;
}
.review__author {
    font-size: 1.3em;
}

.review__date {
    font-size: 0.8em;
}

.btn-del-review {
    position: absolute;
    right: 20px;
    top: 20px;
    padding: 7px 15px;
    background-color: rgb(243, 242, 242);
    border-radius: 20px;
    font-size: 1em;
    font-weight: 700;
    text-decoration: none;
    border: none;
    margin-bottom: 30px;
}

.btn-del-review:hover {
    color: black;
    background-color: rgb(187, 186, 186);
}
