.cards {
    margin: 30px 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

@media(max-width: 720px) {
    .cards {
        margin: 25px 70px;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width: 540px) {
    .cards {
        margin: 20px 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}

@media(max-width: 360px) {
    .cards {
        margin: 16px 60px;
    }
}