.home {
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 1024px;
    width: 100%;
    margin: -70px auto 30px;
    padding: 0 30px;
}


@media(max-width: 720px) {
    .home {
        margin-top: -50px;
        padding: 0 20px;
    }
}


@media(max-width: 620px) {
    .home {
        gap: 20px;
    }
}

@media(max-width: 540px) {
    .home {
        margin-top: -40px;
        gap: 20px;
    }
}

@media(max-width: 360px) {
    .home {
        margin-top: -30px;
    }
}