header {
    background-color: rgb(220, 211, 39);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.search {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #222;
    outline: none;
}

.search:focus {
    border-bottom-color: #fff;
}

.menu {
    display: flex;
    gap: 1em;
}

@media(max-width: 720px) {
    .logo img {
        max-width: 200px;
    }
}

@media(max-width: 540px) {
    .logo img {
        max-width: 180px;
    }
}

@media(max-width: 360px) {
    .logo img {
        max-width: 150px;
    }
}