.search-block {
    min-width: 500px;
    width: max-content;
    display: flex;
    align-items: center;
    position: relative;
}

.search-block>input {
    flex: 1;
    height: 30px;
    box-sizing: border-box;
    padding: 20px 15px;
    border-radius: 20px;
    border: 1px solid silver;
    font-size: 1em;
    outline: none;
}
.search-block>input:focus {
    border-color: rgb(220, 211, 39);
}

.search-block>button {
    position: absolute;
    right: 10px;
    background-color: transparent;
    border: none;
    height: 20px;
}

.search-block svg {
    height: 100%;
    fill: silver;
    cursor: pointer;
}

.search-block svg:hover {
    fill: rgb(220, 211, 39);
}

.search-result {
    position: absolute;
    top: 36px;
    left: 12px;
    font-size: 12px;
}

@media(max-width: 720px) {
    .search-block {
        min-width: 300px;
    }
    .search-block>input {
        height: 24px;
        padding: 16px 12px;
        border-radius: 16px;
    }
    .search-block>button {
        height: 16px;
    }
}

@media(max-width: 540px) {
    .search-block {
        min-width: 250px;
    }
    .search-block>input {
        height: 22px;
        padding: 14px 10px;
        border-radius: 14px;
    }
    .search-block>button {
        height: 14px;
    }
}

